@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

:root {
    --type-color-json: #d63b00;
    --type-color-geojson: #9855e0;
    --type-color-csv: #856a00;
    --type-color-pdf: #e0051e;
    --type-color-html: #2e759e;
}

$utilities: map-merge(
  $utilities,
  (
    'font-size':
      map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true,
        )
      ),
  )
);

.dropdown-menu {
  max-height: fit-content !important;
}

@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
