// https://getbootstrap.com/docs/5.3/customize/color-modes/#custom-color-modes
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
[data-bs-theme='karlsruhe'] {
  --bs-primary: #048500;
  --bs-secondary: #000;
  --bs-yellow: #fdcb00;
  --bs-red: #e2001a;
  --bs-green: #f7f9f5;
  --bs-gray: #7f7f7f;
  --bs-font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  $custom-colors: (
    'primary': #048500,
    'secondary': #000,
    'danger': #e2001a,
  );
  $theme-colors: map-merge($theme-colors, $custom-colors);
  $font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  $btn-font-weight: 600;
  $btn-padding-y: 12px;
  $btn-padding-x: 18px;

  $input-border-color: var(--bs-secondary);

  $form-select-border-width: 1px;
  $form-select-border-color: var(--bs-secondary);

  .nav-link {
    color: var(--bs-primary) !important;
  }
  .btn-secondary {
    color: var(--bs-secondary) !important;
    background-color: var(--bs-white) !important;
  }
  .btn-secondary:hover {
    border-color: var(--bs-gray) !important;
    color: var(--bs-gray) !important;
    background-color: var(--bs-light) !important;
  }
  .form-control:focus,
  .form-select:focus {
    border-color: var(--bs-primary) !important;
    box-shadow: 0 0 0 0.2rem rgba(4, 133, 0, 0.5) !important;
  }

  @import '~bootstrap/scss/bootstrap.scss';
}
