// https://getbootstrap.com/docs/5.3/customize/color-modes/#custom-color-modes
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
[data-bs-theme='karlsruhe'] {
  $custom-colors: (
    'primary': #048500,
  );
  --bs-primary: #048500;
  --bs-secondary: #000;
  --bs-yellow: #fdcb00;
  --bs-red: #e2001a;
  --bs-green: #f7f9f5;
  --bs-gray: #7f7f7f;
  --bs-font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  $theme-colors: map-merge($theme-colors, $custom-colors);
  $font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  $btn-border-radius: 4px;
  $btn-font-weight: 600;
  $btn-padding-y: 12px;
  $btn-padding-x: 18px;
  $btn-border-width: 1px;

  $input-border-color: var(--bs-secondary);

  .nav-link {
    color: var(--bs-primary) !important;
  }
  .btn-secondary {
    color: var(--bs-secondary) !important;
    background-color: var(--bs-white) !important;
  }
  .btn-secondary:hover {
    border-color: var(--bs-gray);
    color: var(--bs-gray);
  }

  @import '~bootstrap/scss/bootstrap.scss';
}
